/* Page Header components */
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img{
    width: 100%;
}

header h1{
    font-weight: bold;
    font-size: 64px;
}

/* Page Content components */
.main-container{
    display: flex;
    justify-content: space-evenly;
}

/* Cities List components */
.cities{}

/* Landmarks List components */
.landmarks{}

/* Famous Citizens List components */
.citizens{}
