@import "footer.css";
@import "nav.css";

body {
    background-color: rgb(218, 101, 14);
}

/* Page Background Image components */
.background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background img{
    width: 100%;
}

.background h1{
    font-weight: bold;
    font-size: 64px;
}

/* Page Content components */
.main-container{
    display: flex;
    justify-content: space-evenly;
    font-size: 2em;
}

/* Cities List components */
.cities{}

/* Landmarks List components */
.landmarks{}

/* Famous Citizens List components */
.citizens__list ul{
    display:flex;
}

.citizens__list li{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    margin: 5%;
}

.citizens__list img{
    height: 10vh;
    border-radius: 50%;
}
