@import "nav.css";
@import "footer.css";

body {
  background-color: #e9780e;
}

.wrapper {
  display: flex;
}

/* Navbar Section */
nav a.active-page { 
  background-color: rgb(246, 245, 221); 
  padding: .5em;
}

/* Image Section */
.city-wrapper {
  justify-content: center;
}

.city-wrapper img {
  margin-top: 2em;
  border: 20px solid #000;
  border-radius: 15px;
}

/* Lists Section */
h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
  text-transform: uppercase;
  margin: 2em 0;
}

.city-card {
  display: flex;
  flex-direction: column;
}

.city-card h2 {
  font-weight: bold;
  font-size: 1.5em;
}

.city-card ul li {
  margin: 1em;
}

.lists-wrapper {
  justify-content: space-evenly;
  margin-bottom: 3em;
}

.box-wrapper {
  background-color: rgb(246, 245, 221);
  max-width: 45vw;
  margin: 5em auto;
  padding: 3em;
}

