h1 {
    text-align: left;
    position: absolute;
    bottom: 0;
    
}

header {
    background-image: url("https://pullman.accor.com/destinations/country/thailand-1400x788-1.jpg");
    background-size: cover;
    position: relative;
}

.header-image {
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    justify-content: space-evenly;
}