@import "nav.css";
@import "footer.css";

body {
    background-color: blanchedalmond;
}

.body-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1.5fr 1fr;
    grid-template-areas: "head"
                         "main";
}

.top-container {
    grid-area: head;
    position: relative;
}

.top-container-img {
    border-bottom: 3px solid rgb(104, 72, 72);
    width: 100%;
    height: 90vh;
}

.thailand-text {
    position: absolute;
    bottom: 0px;
    left: 50px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
   size: large;
}

.bottom-container {
    align-items: center;
    grid-area: main;
    display: flex;
    justify-content: space-evenly;
}

.three-compartments {
    font-size: 1.5em;
    font-style: arial;
    color: rgb(0, 0, 0);
}

footer {
    display: flex;
    justify-content: space-evenly;
}